{% extends "base.html" %}

{% block content %}
<h1>Hello {{ user }} - Ez egy fogyasztásmérő app</h1>

<img src="/static/pictures/fuel.png" height="100" class="kep">

<div class="consumption">
    <h1 id="consumption"></h1>
    <h5> l / 100 km </h5>
</div>


<form action="{% url 'new_refuel' %}" method="post">
    {% csrf_token %}

    <label for="km">óraállás: </label>
    <input type="number" name="distance" id="km">

    <label for="petrol">tankolt mennyiség</label>
    <input type="number" name="petrol_amount_litre" id="petrol">L

    <label for="date">tankolás időpontja</label>
    <input type="datetime-local" name="refuel_date" id="date">

    <input type="submit" value="Beküld">

</form>
<br>

<div id="refuels"></div>

<a href="{% url 'logout' %}">Kijelentkezés</a>

<script src="/static/index.js"></script>

{% endblock  %}